<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <h1> HEADER HERE!!! </h1><br><br>

    <%= yield %>

    <br><br><h1> FOOTER HERE!!! </h1>
  </body>
</html>
